.hero {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background:
    linear-gradient(
      rgba(var(--color-dark-bg-rgb), 0.65),
      rgba(var(--color-dark-bg-rgb), 0.8)
    ),
    url("/images/hero-img.png") center 40% / cover no-repeat;
}

@media (min-width: 885px) {
  .hero {
    background:
      linear-gradient(
        rgba(var(--color-dark-bg-rgb), 0.65),
        rgba(var(--color-dark-bg-rgb), 0.8)
      ),
      url("/images/bg-img.png") center center / cover no-repeat;
  }
}

.heroTitle {
  font-size: clamp(2.5rem, 6vw, 5rem);
  font-family: var(--font-secondary);
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  background: linear-gradient(
    90deg,
    var(--color-red),
    var(--color-yellow),
    var(--color-blue)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heroCta {
  text-decoration: none;
  background-color: #f0cb35;
  padding: 0.7rem 1.6rem;
  border-radius: 2rem;
  font-family: var(--font-secondary);
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--color-dark);
}

.heroCta:hover {
  background-color: transparent;
  color: var(--color-yellow);
  border: 1px solid var(--color-yellow);
}
