* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

/* Variables */

:root {
  --color-red: #c02425;
  --color-red-rgb: 192, 36, 37;
  --color-yellow: #f0cb35;
  --color-blue: #3498db;
  --color-blue-rgb: 52, 152, 219;
  --color-white: #e5e7eb;
  --color-dark: #111827;
  --color-dark-rgb: 17, 24, 39;
  --color-dark-bg: #0b0f1a;
  --color-dark-bg-rgb: 11, 15, 26;

  --font-primary: "Exo 2", sans-serif;
  --font-secondary: "Orbitron", sans-serif;
}

/* The clamp() function allows you to set a range for font size.
The general format is 
Minimum: The smallest size your text can shrink to.
Preferred: The ideal size, often a percentage of the viewport width
Maximum: The largest size your text can grow to. */

/* @media (min-width: 650px) { ... } means if the screen is bigger then 650px, do this*/

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: var(--font-primary);
}

/* ----HEADER---- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--color-dark);
}

header a {
  color: var(--color-white);
  text-decoration: none;
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1px;
}

header a:hover {
  color: var(--color-yellow);
}

header .logo {
  width: 65px;
}

nav ul {
  display: flex;
  gap: 1rem;
}

/* ----MAIN---- */

main {
  flex: 1;
  padding: 2rem 1rem;
  background:
    linear-gradient(
      rgba(var(--color-dark-bg-rgb), 0.65),
      rgba(var(--color-dark-bg-rgb), 0.8)
    ),
    url("/images/bg-img.png") center center / cover no-repeat;
}

/* ----FOOTER---- */

footer {
  padding: 2rem 1rem;
  text-align: center;
  font-family: var(--font-secondary);
  background-color: var(--color-dark);
  color: var(--color-white);
}
